
.container {
  width: calc(100% - 2.2rem);
  height: 120px;

  padding: 1rem;

  border-radius: .5rem;

  font-size: 14px;
  font-weight: 600;
  font-family: inherit;
  letter-spacing: .1ch;

  outline: none;
  resize: none;
}

.highlight {
  color: blue;
  background: blueviolet;
}
